<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-3 text-center">Dobrodošli na sajt AGROSMART</h1>
            <p class="mt-5 ml-5">Ovaj sajt je zamišljen kao pomoć zemljoradnicima u vodjenju finansijskog bilansa poljoprivrednog imanja.Svaka stranica ima kratko uputstvo. U slučaju potrebe uvek nam se možete obratiti na agrosmart@gmail.com i trudićemo se da vam odgovorimo
                u najkraćem mogućem roku.
            </p>
            <p class="mt-3 ml-5">
                Na stranici <b>SETVA</b> unosite troškove setve. Na stranici <b>PRIKAZ</b> dobijate tabelarni prikaz troškova za svaku njivu posebno. Na stranici <b>ŽETVA</b> unosite finalne troškove i zaradu od prodaje. Na stranici <b>ZARADA</b> konačno
                vidite ukupan bilans stanja, kao i za svaku njivu posebno. Nadamo se da će vam korišćenje aplikacije biti od koristi.
            </p>
            <h2 class="text-center">
                <b>VAŠ AGROSMART</b>
            </h2>
        </div>
    </div>
</div>